body {
  padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}    

/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
/* Extra Small */
@media(max-width:767px){}

/* Small */
@media(min-width:768px) and (max-width:991px){}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}