{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template {{my_title}}</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock  %}